body {
  margin: 0;
  padding: 0;
  background-color: #171c22;
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

table tbody td, thead th {
  text-align:left;
  padding: 5px 10px;
}
